<?xml version="1.0" encoding="UTF-8"?> <!-- 이건 xml이다 -->
<!-- 스키마 -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.google.s1.member.MemberDAO">

<insert id="addFile" parameterType="MemberFileDTO">
	insert into memberfile (filenum,id,filename,oriname)
	values (file_seq.nextval,#{id},#{fileName},#{oriName})
</insert>

	
	<!-- mypage -->
	<select id="mypage" parameterType="MemberDTO" resultMap="mypageResult">
		select id,M.name,M.email,M.phone,MF.filenum,MF.filename,MF.oriname
		from member M
		left join memberfile MF
		using(id)
		where id=#{id}
		
	</select>
	
	<resultMap type="MemberDTO" id="mypageResult">
		<id column="id" property="id"/> <!-- pk -->
		<result column="name" property="name" /><!-- pk를 제외한 나머지 -->
		<result column="email" property="email"/> 
		<result column="phone" property="phone"/> 
		<association property="memberFileDTO" javaType="MemberFileDTO">
			<id column="fileNum" property="fileNum"/> <!-- pk -->
			<result column="fileName" property="fileName"/>
			<result column="oriName" property="oriName"/>
		</association> <!-- 1:1 -->
	
	</resultMap>

	<insert id="join" parameterType="MemberDTO">
		INSERT into member(id,pw,name,phone,email)
		values (#{id},#{pw},#{name},#{phone},#{email}) 
	</insert>
	
	<select id="login" parameterType="MemberDTO" resultType="MemberDTO">
		select id,name from member where id=#{id} and pw=#{pw}
	</select>

	

</mapper>