<?xml version="1.0" encoding="UTF-8"?> <!-- 이건 xml이다 -->
<!-- 스키마 -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.google.s1.board.notice.NoticeDAO">
	
	<insert id="addFile" parameterType="BoardFileDTO">
	
		insert into noticefile(filenum,num,filename,oriname)
		values(file_seq.nextval,#{num},#{fileName},#{oriName})
	</insert>
	
	<!-- <select id="seqNum" resultType="Long">
		select notice_seq.nextval from dual
		select max(num) form notice
	</select> -->
	
	
	<!-- add -->
	<insert id="add" parameterType="NoticeDTO">
		<selectKey keyProperty="num" order="BEFORE" resultType="Long">
			SELECT NOTICE_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		insert into notice
		values(#{num},#{title},#{contents},#{writer},sysdate,0)
	</insert>
	
	<!-- list -->
	<select id="list" resultType="NoticeDTO" parameterType="Pager">
		select * from
		(SELECT rownum R, B.* FROM 
		        (SELECT * FROM NOTICE WHERE 
		        NUM>0 
		        	and 
		        	<choose>
		        		<when test="kind=='col1'">
		        			TITLE
		        		</when>
		        		<when test="kind=='col2'">
		        			CONTENTS
		        		</when>
		        		<otherwise>
		        			WRITER
		        		</otherwise>
		        	</choose>
		        	LIKE '%'||#{search}||'%'
		            ORDER BY NUM DESC
		         ) B
		     )
		WHERE R between #{startRow} and #{lastRow}
	</select>
	
	<!-- total -->
	<select id="total" resultType="Long" parameterType="Pager">
 		SELECT COUNT(NUM) FROM NOTICE
 		WHERE
 			NUM>0 
		    and 
		    <choose>
		        		<when test="kind=='col1'">
		        			TITLE
		        		</when>
		        		<when test="kind=='col2'">
		        			CONTENTS
		        		</when>
		        		<otherwise>
		        			WRITER
		        		</otherwise>
		        	</choose>
        	LIKE '%'||#{search}||'%' 
 	</select>

<update id="update" parameterType="NoticeDTO">
	update notice set title=#{title}, contents=#{contents}
	where num=#{num}	
</update>

	<!-- detail -->
	<select id="detail" parameterType="NoticeDTO" resultMap="detailResult">
		select N.*,NF.*
		from 
			notice N
				left JOIN
				noticefile NF
			on N.num=NF.num
		where n.num=#{num}
	</select>
	
	<resultMap type="NoticeDTO" id="detailResult">
		<id column="num" property="num"/>
		<result column="title" property="title"/>
		<result column="writer" property="writer"/>
		<result column="contents" property="contents"/>
		<result column="regDate" property="regDate"/>
		<result column="hit" property="hit"/>
		<collection property="fileDTOs" javaType="List" ofType="NoticeFileDTO">
		<id column="fileNum" property="fileNum"/>
		<result column="fileName" property="fileName"/>
		<result column="oriName" property="oriName"/>
		</collection>
	</resultMap>




	<!-- delete -->
	<delete id="delete" parameterType="NoticeDTO">
		delete notice where num=#{num}
	</delete>
</mapper>
